@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.selected-month {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5;
  color: var(--neutral-neutral-800, #424242) !important;
  font-feature-settings: "clig" off, "liga" off !important;
  font-family: "Open Sans" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 150% !important; /* 24px */
  letter-spacing: 0.15px !important;
}

.MonthSelect-MenuListProps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.MonthSelect-MenuItem {
  width: 56px;
  height: 36px;
  margin: 0px 6px;

  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: var(--neutral-neutral-800, #424242) !important;
  font-feature-settings: "clig" off, "liga" off !important;
  font-family: "Open Sans" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important; /* 24px */
  letter-spacing: 0.15px !important;
}

.MonthSelect-MenuItem{
  border-radius: 20px;
}

.selected-year {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5;
  color: var(--neutral-neutral-800, #424242) !important;
  font-feature-settings: "clig" off, "liga" off !important;
  font-family: "Open Sans" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 150% !important; /* 24px */
  letter-spacing: 0.15px !important;
}

.YearSelect-MenuListProps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.YearSelect-MenuItem {
  width: 56px;
  height: 36px;
  margin: 0px 6px;
  padding: 0px;
  display: flex;

  /* justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.MenuList-paper {
  
  display: flex;
  width: 300px;
  height: 175px;
  padding: 8px 2px 8px 0px;
  align-items: center;
  flex-shrink: 0;

  border-radius: 4px;
  background: var(--Neutral-White, #fff);

  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2),
    0px 9px 10px 0px rgba(0, 0, 0, 0.14), 0px 5px 14px 0px rgba(0, 0, 0, 0.12);
}
